################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/WebApplication3/CopilotIndices/17.14.734.62261
/.vs/WebApplication3/FileContentIndex
/.vs/WebApplication3/v17
